@model ULTIMO_INTENTO_POKEMONES.Models.Pokemon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pokemon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePokemon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePokemon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ataque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ataque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegionPokemonNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegionPokemonNavigation.ColorRegion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPokemonNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPokemonNavigation.NombreTipo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPokemon">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
